@import '../../../assets/scss/variables';
@import '../../../assets/scss/normalize';

.sort {
  margin: 10px 0px;
  margin-left: auto;
  position: relative;
  display: flex;
  font-size: 14px;
  @include noselect();

  .label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    h3 {
      margin-right: 8px;
    }

    span {
      font-size: 16px;
      color: $red;
      border-bottom: 1px dashed $red;
      cursor: pointer;
    }
  }

  .arrow {
    transform: rotate(180deg);
  }

  .popup {
    position: absolute;
    right: -6px;
    margin-top: 40px;
    background: $white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 170px;

    .delimeter {
      border-bottom: 1px solid $gray;
      padding: 2px;
    }

    ul {
      overflow: hidden;
      font-size: 16px;
      li {
        padding: 10px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $red;
        }
      }
    }
  }
}
