@import '../../assets/scss/variables';
@import '../../assets/scss/normalize';
@import '../../assets/scss/global';

.blockContainer {
  display: flex;
  margin-top: 150px;
  background: $gray;
  height: 120px;
}

.nav {
  display: flex;
  align-items: center;

  .logos {
    display: flex;
    align-items: center;
    margin: 0 40px 0 20px;
    svg {
      margin-right: 15px;
    }
  }

  .infoBlock {
    h4 {
      font-size: 16px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      color: $dark-gray;
    }
    margin-right: 60px;
  }

  .imageContainer {
    display: flex;
    width: 400px;
    height: 120px;
    margin-left: auto;
    
    cursor: pointer;
    @include noselect();

    img {
      overflow: hidden;
      width: 400px;
      height: 120px;
      object-fit: cover;
      filter: brightness(65%);
    }
    h4 {
      position: absolute;

      transform: translate(125%, 275%);
      color: $white;
    }
  }
}
