@import './variables';
@import './normalize';

body {
    background-color: $background;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

.container {
    width: calc(100vw - 60px);
    height: 100%;
    margin: 0 auto;
    max-width: 1366px;
}