@import '../../assets/scss/variables';
@import '../../assets/scss/normalize';
@import '../../assets/scss/global';

.container {
  display: flex;
}

.cart {
  display: flex;
  margin: auto;
  margin-bottom: 100px;
  @media (max-width: 1340px) {
    display: block;
  }
}

.cartEmpty {
  display: block;
  padding: 120px 0px 240px;
  margin: 0 auto;
  img {
    display: block;
    margin: 0 auto;

    overflow: hidden;
    width: 340px;
    object-fit: cover;
  }
  h5 {
    margin-top: 20px;
    text-align: center;

    font-size: 20px;
    color: $dark-gray;
    font-weight: 300;
  }
  button {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
}

.leftBlock {
  padding: 30px 0px 200px 0px;
  width: 850px;

  @media (max-width: 1340px) {
    padding-bottom: 30px;
  }

  @media (max-width: 900px) {
    width: 100%;
    .items {
      margin: auto;
    }

    .topBlock {
      .order {
        width: 100%;
        h5 {
          display: none;
        }
        svg {
          margin: 0px;
        }
      }
      .trash {
        h5 {
          display: none;
        }
        svg {
          margin: 0px;
        }
      }
    }
  }

  .topBlock {
    display: flex;
    align-items: center;
    width: 100%;
    .order {
      display: flex;
      width: 100%;

      align-items: center;
      svg {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        path {
          stroke: $black;
          stroke-width: 1.5;
        }
      }
      h5 {
        font-size: 20px;
      }
    }
    .trash {
      display: flex;
      align-items: center;
      margin-left: auto;

      cursor: pointer;
      @include noselect();

      svg {
        color: $middle-gray;
        margin-right: 5px;
        height: 30px;
        width: 30px;
      }
      h5 {
        font-size: 20px;
        font-weight: 400;
        min-width: 160px;

        color: $middle-gray;
      }
    }
  }

  .items {
    padding: 30px 0px 0px;
  }

  .bottomBlock {
    display: flex;
    align-items: center;
    padding: 0 40px;
    h5 {
      font-size: 16px;
    }
    font-size: 16px;
    @media (max-width: 900px) {
      h5 {
        display: none;
      }
    }
    .sum {
      display: flex;
      margin-left: auto;
    }
  }
}

.rightBlock {
  display: block;
  margin: 30px;
  width: 400px;
  height: 370px;
  overflow: hidden;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12px;

  @media (max-width: 1340px) {
    margin: 30px auto;
  }
  @media (max-width: 900px) {
    width: 320px;
    padding: 0px;
    margin: 0px;
  }

  .promo {
    margin: 50px auto;
    text-align: center;
    button {
      margin-top: 6px;
      background-color: $black;
    }
  }
  .goods {
    display: flex;
    margin: 30px 50px;
    text-align: center;

    p {
      font-size: 16px;
      color: $dark-gray;
    }
    span {
      margin-left: auto;
      font-size: 16px;
      color: $dark-gray;
    }
  }

  .discount {
    display: flex;
    margin: 20px 50px;
    text-align: center;

    p {
      font-size: 16px;
      color: $dark-gray;
    }
    span {
      margin-left: auto;
      font-size: 16px;
      color: $dark-gray;
    }
  }

  .summary {
    margin: 50px;
    display: flex;
    align-items: center;

    h3 {
      font-size: 24px;
    }
    button {
      margin-left: auto;
    }
  }
}
