@import "../../assets/scss/variables";
@import "../../assets/scss/normalize";
@import "../../assets/scss/global";

.label {
  padding: 0px 0px 55px 0px;
}
.mapContainer {
  width: 600px;
  height: 400px;

  @media (max-width: 900px) {
    width: 300px;
    height: 200px;
  }
}
