@import "../../assets/scss/variables";
@import "../../assets/scss/global";

.notFound {
  display: block;
  margin: 0 auto;
  padding: 140px 0 250px;

  img {
    display: flex;
    margin: 40px auto;
  }
  p {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: $dark-gray;
  }

  .toMainPage {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
  }
}
